In [ ]:
for YourVariable in YourContainer:
    print(YourVariable)

In [1]:
for num in range(1,5): # last size of range will be exclusive
    print(num)

1
2
3
4

In [2]:
lst = [1,5,8,9,2,0,4]

In [3]:
for ele in lst:
    print(ele)

1
5
8
9
2
0
4

In [4]:
lst1 = [1,5,7,8]
lst2 = [2,3,2,4]

In [6]:
for i in range(len(lst1)):
    print(lst1[i] * lst2[i])

2
15
14
32

In [8]:
for i in range(len(lst1)):
    print([lst1[i] * lst2[i]], end = " ")

[2] [15] [14] [32]

### Zip and Enumerate Function

### ZIP

Using this function we can combine more than 1 iterable and return an output in the form of tuple object or ZIP object.

<b> Note : </b> Zip function always combined the iterables based on shortest iterable.

In [9]:
zip(lst1,lst2) # zip function is also iterable type of container

In [11]:
print(lst1, lst2)

[1, 5, 7, 8] [2, 3, 2, 4]

In [10]:
list(zip(lst1,lst2)) # Inside the list each element in the form of tuple object

[(1, 2), (5, 3), (7, 2), (8, 4)]

In [12]:
lst1 = [1,3,5,7,8,9,2]
lst2 = [4,5,8]

In [13]:
list(zip(lst1,lst2))

[(1, 4), (3, 5), (5, 8)]

In [15]:
lst1 = ["A","B","C",1,2,3]
lst2 = ['Abhishek',"Anikt","Manya",'Sugandha']
lst3 = ['Jocinda',"Biden",'Modi']
tp = (2,4,5,6,7,8)

In [16]:
zip(lst1,lst2,lst3,tp)

In [17]:
for pair in zip(lst1,lst2,lst3,tp):
    print(pair)

('A', 'Abhishek', 'Jocinda', 2)
('B', 'Anikt', 'Biden', 4)
('C', 'Manya', 'Modi', 5)

In [18]:
list(zip(lst1,lst2,lst3,tp))

[('A', 'Abhishek', 'Jocinda', 2),
 ('B', 'Anikt', 'Biden', 4),
 ('C', 'Manya', 'Modi', 5)]

### What If I want to combined based on Longest Iterable?

In [24]:
lst1 = ["A","B","C",1,2,3]
lst2 = ['Abhishek',"Anikt","Manya",'Sugandha']
lst3 = ['Jocinda',"Biden",'Modi']
tp = (2,4,5,6,7,8,9,"Abhisheak")

In [25]:
from itertools import zip_longest

In [26]:
list(zip_longest(lst1,lst2,lst3,tp))

[('A', 'Abhishek', 'Jocinda', 2),
 ('B', 'Anikt', 'Biden', 4),
 ('C', 'Manya', 'Modi', 5),
 (1, 'Sugandha', None, 6),
 (2, None, None, 7),
 (3, None, None, 8),
 (None, None, None, 9),
 (None, None, None, 'Abhisheak')]

In [27]:
list(zip_longest(lst1,lst2,lst3,tp,fillvalue="|"))

[('A', 'Abhishek', 'Jocinda', 2),
 ('B', 'Anikt', 'Biden', 4),
 ('C', 'Manya', 'Modi', 5),
 (1, 'Sugandha', '|', 6),
 (2, '|', '|', 7),
 (3, '|', '|', 8),
 ('|', '|', '|', 9),
 ('|', '|', '|', 'Abhisheak')]

In [28]:
list(zip_longest(lst1,lst2,lst3,tp,fillvalue=0))

[('A', 'Abhishek', 'Jocinda', 2),
 ('B', 'Anikt', 'Biden', 4),
 ('C', 'Manya', 'Modi', 5),
 (1, 'Sugandha', 0, 6),
 (2, 0, 0, 7),
 (3, 0, 0, 8),
 (0, 0, 0, 9),
 (0, 0, 0, 'Abhisheak')]

### Enumerate

Using this funtion we can assign the index automatically against
the iterable, by default index will starts from 0 to n - 1, 
and this function also return as enumerate object and tuple.

In [29]:
lst

[1, 5, 8, 9, 2, 0, 4]

In [30]:
enumerate(lst)

In [31]:
tuple(enumerate(lst))

((0, 1), (1, 5), (2, 8), (3, 9), (4, 2), (5, 0), (6, 4))

In [32]:
list(enumerate(lst))

[(0, 1), (1, 5), (2, 8), (3, 9), (4, 2), (5, 0), (6, 4)]

In [33]:
lst2

['Abhishek', 'Anikt', 'Manya', 'Sugandha']

In [34]:
list(enumerate(lst2))

[(0, 'Abhishek'), (1, 'Anikt'), (2, 'Manya'), (3, 'Sugandha')]

In [35]:
list(enumerate(lst2, start=100))

[(100, 'Abhishek'), (101, 'Anikt'), (102, 'Manya'), (103, 'Sugandha')]

In [36]:
list(enumerate(lst2, start=1))

[(1, 'Abhishek'), (2, 'Anikt'), (3, 'Manya'), (4, 'Sugandha')]

### Question:

Find the valid mobile Number
* Valid If:
    * All should be number
    * Mobile Number length should be 10
    * A mobile number valid if that number starts from either 99 or 98

In [43]:
Mobile = ["9922O35163", 9063128575, 9943429726, 9279976357, 9780749505, 9888322180,
          9404627867, 9525377064, 9271594705, 9448690411, 9482693910, 9022884399,
          9415329855, 9578548288, 9892740918, 9112757951, 9752527815, 987564468,
          9052415768, 999915928, "9889369176", 998975372, 8953925516, 8949485164,
          9157246474, 9222281601, 9160334285, 9978570556, 9040316642, 9307702021,
          994875956, 9848554714, 9086330432, 9929558363, 9470721128, 9320688348,
          9308732519, "9890980185", 9829410009, "983888I386"]

In [45]:
for m in Mobile:
    if len(str(m)) == 10 and str(m).isnumeric():
        if str(m).startswith('98') or str(m).startswith('99'):
            print(m, end = " ")

9943429726 9888322180 9892740918 9889369176 9978570556 9848554714 9929558363 9829410009