### Dictionary Data Structure

- Rules and guidelines of dictionary data structure
    * Dictionary are key-pair elements just like JSON
    * Dictionary is listed by {}
    * Each element is the combination of key : value pair
    * Dictionary keys are immutable and Key's values can be mutable or immutable
    * Dictionary can be created using {} and dict function.
    * We can not have duplicate key in the dictionary

In [1]:
print("All Functions from Dictionary: ",[i for i in dir(dict) if "__" not in i])

All Functions from Dictionary:  ['clear', 'copy', 'fromkeys', 'get', 'items', 'keys', 'pop', 'popitem', 'setdefault', 'update', 'values']

In [2]:
dct = {}

In [3]:
type(dct)

dict

In [4]:
d = dict()

In [5]:
type(d)

dict

In [6]:
employeeDB = {"EmpID" : [101,102,103,104,105],
             "EmpName" : ["A","B","C","D"],
             "City" : ["Houson","Tempa","Delhi",'Chennai'],
             "Grade" : ["A","B","A","B"],
             "Salary" : [100,200,350,230]}

In [7]:
employeeDB

{'EmpID': [101, 102, 103, 104, 105],
 'EmpName': ['A', 'B', 'C', 'D'],
 'City': ['Houson', 'Tempa', 'Delhi', 'Chennai'],
 'Grade': ['A', 'B', 'A', 'B'],
 'Salary': [100, 200, 350, 230]}

In [8]:
# can you display only the keys

In [9]:
employeeDB.keys()

dict_keys(['EmpID', 'EmpName', 'City', 'Grade', 'Salary'])

In [10]:
# can you display the values

In [11]:
employeeDB.values()

dict_values([[101, 102, 103, 104, 105], ['A', 'B', 'C', 'D'], ['Houson', 'Tempa', 'Delhi', 'Chennai'], ['A', 'B', 'A', 'B'], [100, 200, 350, 230]])

In [12]:
# can you display the key and its values

In [13]:
employeeDB.items() # returning tuple, where first item is key and 2nd item are values

dict_items([('EmpID', [101, 102, 103, 104, 105]), ('EmpName', ['A', 'B', 'C', 'D']), ('City', ['Houson', 'Tempa', 'Delhi', 'Chennai']), ('Grade', ['A', 'B', 'A', 'B']), ('Salary', [100, 200, 350, 230])])

In [14]:
# can you display the value of specific key

In [15]:
employeeDB['Salary']

[100, 200, 350, 230]

In [16]:
employeeDB["EmpID"]

[101, 102, 103, 104, 105]

In [17]:
employeeDB["EmpName"]

['A', 'B', 'C', 'D']

In [18]:
employeeDB["City"]

['Houson', 'Tempa', 'Delhi', 'Chennai']

In [19]:
employeeDB["Grade"]

['A', 'B', 'A', 'B']

In [20]:
employeeDB

{'EmpID': [101, 102, 103, 104, 105],
 'EmpName': ['A', 'B', 'C', 'D'],
 'City': ['Houson', 'Tempa', 'Delhi', 'Chennai'],
 'Grade': ['A', 'B', 'A', 'B'],
 'Salary': [100, 200, 350, 230]}

In [21]:
import pandas as pd

In [23]:
employeeDB = {"EmpID" : [101,102,103,104,105],
             "EmpName" : ["A","B","C","D","E"],
             "City" : ["Houson","Tempa","Delhi",'Chennai',"Panjim"],
             "Grade" : ["A","B","A","B","A"],
             "Salary" : [100,200,350,230,150]}

In [24]:
df = pd.DataFrame(employeeDB)

In [25]:
df

   EmpID EmpName     City Grade  Salary
0    101       A   Houson     A     100
1    102       B    Tempa     B     200
2    103       C    Delhi     A     350
3    104       D  Chennai     B     230
4    105       E   Panjim     A     150

In [26]:
df.to_csv("Employee.csv", index = False)

In [27]:
employeeDB

{'EmpID': [101, 102, 103, 104, 105],
 'EmpName': ['A', 'B', 'C', 'D', 'E'],
 'City': ['Houson', 'Tempa', 'Delhi', 'Chennai', 'Panjim'],
 'Grade': ['A', 'B', 'A', 'B', 'A'],
 'Salary': [100, 200, 350, 230, 150]}

In [28]:
dct = dict()

In [29]:
dct["A"] = 10,20,30,40

In [30]:
dct

{'A': (10, 20, 30, 40)}

In [31]:
dct["D"] = ["Abhishek","Ajeet"]

In [32]:
dct

{'A': (10, 20, 30, 40), 'D': ['Abhishek', 'Ajeet']}

In [33]:
dct["X"] = employeeDB

In [34]:
dct

{'A': (10, 20, 30, 40),
 'D': ['Abhishek', 'Ajeet'],
 'X': {'EmpID': [101, 102, 103, 104, 105],
  'EmpName': ['A', 'B', 'C', 'D', 'E'],
  'City': ['Houson', 'Tempa', 'Delhi', 'Chennai', 'Panjim'],
  'Grade': ['A', 'B', 'A', 'B', 'A'],
  'Salary': [100, 200, 350, 230, 150]}}

In [35]:
dct["Z"] = {"Name" : "Dharmendra","son" : ["Sunny","Bobby"],"Pet" : ["Cat","Dog"]}

In [36]:
dct

{'A': (10, 20, 30, 40),
 'D': ['Abhishek', 'Ajeet'],
 'X': {'EmpID': [101, 102, 103, 104, 105],
  'EmpName': ['A', 'B', 'C', 'D', 'E'],
  'City': ['Houson', 'Tempa', 'Delhi', 'Chennai', 'Panjim'],
  'Grade': ['A', 'B', 'A', 'B', 'A'],
  'Salary': [100, 200, 350, 230, 150]},
 'Z': {'Name': 'Dharmendra', 'son': ['Sunny', 'Bobby'], 'Pet': ['Cat', 'Dog']}}

In [37]:
dct["Z"]

{'Name': 'Dharmendra', 'son': ['Sunny', 'Bobby'], 'Pet': ['Cat', 'Dog']}

In [39]:
dct["Name"]

KeyError: 'Name'

In [41]:
dct.keys()

dict_keys(['A', 'D', 'X', 'Z'])

In [42]:
dct.get('Name')

In [43]:
employeeDB

{'EmpID': [101, 102, 103, 104, 105],
 'EmpName': ['A', 'B', 'C', 'D', 'E'],
 'City': ['Houson', 'Tempa', 'Delhi', 'Chennai', 'Panjim'],
 'Grade': ['A', 'B', 'A', 'B', 'A'],
 'Salary': [100, 200, 350, 230, 150]}

In [44]:
employeeDB["Address"]

KeyError: 'Address'

In [45]:
employeeDB.get("Address")

In [46]:
employeeDB.get("City")

['Houson', 'Tempa', 'Delhi', 'Chennai', 'Panjim']

In [47]:
employeeDB

{'EmpID': [101, 102, 103, 104, 105],
 'EmpName': ['A', 'B', 'C', 'D', 'E'],
 'City': ['Houson', 'Tempa', 'Delhi', 'Chennai', 'Panjim'],
 'Grade': ['A', 'B', 'A', 'B', 'A'],
 'Salary': [100, 200, 350, 230, 150]}

In [49]:
employeeDB['EmpID'].append(999)

In [50]:
employeeDB

{'EmpID': [101, 102, 103, 104, 105, 999],
 'EmpName': ['A', 'B', 'C', 'D', 'E'],
 'City': ['Houson', 'Tempa', 'Delhi', 'Chennai', 'Panjim'],
 'Grade': ['A', 'B', 'A', 'B', 'A'],
 'Salary': [100, 200, 350, 230, 150]}

In [53]:
employeeDB['City'][-3] = "New Delhi"

In [54]:
employeeDB

{'EmpID': [101, 102, 103, 104, 105, 999],
 'EmpName': ['A', 'B', 'C', 'D', 'E'],
 'City': ['Houson', 'Tempa', 'New Delhi', 'Chennai', 'Panjim'],
 'Grade': ['A', 'B', 'A', 'B', 'A'],
 'Salary': [100, 200, 350, 230, 150]}

In [55]:
dct

{'A': (10, 20, 30, 40),
 'D': ['Abhishek', 'Ajeet'],
 'X': {'EmpID': [101, 102, 103, 104, 105, 999],
  'EmpName': ['A', 'B', 'C', 'D', 'E'],
  'City': ['Houson', 'Tempa', 'New Delhi', 'Chennai', 'Panjim'],
  'Grade': ['A', 'B', 'A', 'B', 'A'],
  'Salary': [100, 200, 350, 230, 150]},
 'Z': {'Name': 'Dharmendra', 'son': ['Sunny', 'Bobby'], 'Pet': ['Cat', 'Dog']}}

In [57]:
dct["Z"]['Pet']

['Cat', 'Dog']

In [60]:
dct["X"]["Salary"] = dct["X"]["Salary"][::-1]

In [61]:
dct

{'A': (10, 20, 30, 40),
 'D': ['Abhishek', 'Ajeet'],
 'X': {'EmpID': [101, 102, 103, 104, 105, 999],
  'EmpName': ['A', 'B', 'C', 'D', 'E'],
  'City': ['Houson', 'Tempa', 'New Delhi', 'Chennai', 'Panjim'],
  'Grade': ['A', 'B', 'A', 'B', 'A'],
  'Salary': [150, 230, 350, 200, 100]},
 'Z': {'Name': 'Dharmendra', 'son': ['Sunny', 'Bobby'], 'Pet': ['Cat', 'Dog']}}

### How to add a key and its values

In [62]:
dct["Address"] = ["Sec-11","Sec-12","Sec-13"]

In [63]:
dct

{'A': (10, 20, 30, 40),
 'D': ['Abhishek', 'Ajeet'],
 'X': {'EmpID': [101, 102, 103, 104, 105, 999],
  'EmpName': ['A', 'B', 'C', 'D', 'E'],
  'City': ['Houson', 'Tempa', 'New Delhi', 'Chennai', 'Panjim'],
  'Grade': ['A', 'B', 'A', 'B', 'A'],
  'Salary': [150, 230, 350, 200, 100]},
 'Z': {'Name': 'Dharmendra', 'son': ['Sunny', 'Bobby'], 'Pet': ['Cat', 'Dog']},
 'Address': ['Sec-11', 'Sec-12', 'Sec-13']}

In [64]:
dct["D"] = ["Abhinav","Aniket","Ankit"]

In [65]:
dct

{'A': (10, 20, 30, 40),
 'D': ['Abhinav', 'Aniket', 'Ankit'],
 'X': {'EmpID': [101, 102, 103, 104, 105, 999],
  'EmpName': ['A', 'B', 'C', 'D', 'E'],
  'City': ['Houson', 'Tempa', 'New Delhi', 'Chennai', 'Panjim'],
  'Grade': ['A', 'B', 'A', 'B', 'A'],
  'Salary': [150, 230, 350, 200, 100]},
 'Z': {'Name': 'Dharmendra', 'son': ['Sunny', 'Bobby'], 'Pet': ['Cat', 'Dog']},
 'Address': ['Sec-11', 'Sec-12', 'Sec-13']}

In [71]:
d = {1:12,2:22,3:30,4:40,5:"A",2:200} # latest key value will be consider

In [72]:
m = {1:100,2:20,"A":[1,2],"C":20}

In [73]:
d

{1: 12, 2: 200, 3: 30, 4: 40, 5: 'A'}

In [74]:
m

{1: 100, 2: 20, 'A': [1, 2], 'C': 20}

### Update Function

In [75]:
d

{1: 12, 2: 200, 3: 30, 4: 40, 5: 'A'}

In [76]:
d.update({1:100,4:4000})

In [77]:
d

{1: 100, 2: 200, 3: 30, 4: 4000, 5: 'A'}

In [79]:
d.update({100:1000})

In [80]:
d

{1: 100, 2: 200, 3: 30, 4: 4000, 5: 'A', 100: 1000}

In [82]:
d.update({1:200})

In [83]:
d

{1: 200, 2: 200, 3: 30, 4: 4000, 5: 'A', 100: 1000}

In [84]:
employeeDB

{'EmpID': [101, 102, 103, 104, 105, 999],
 'EmpName': ['A', 'B', 'C', 'D', 'E'],
 'City': ['Houson', 'Tempa', 'New Delhi', 'Chennai', 'Panjim'],
 'Grade': ['A', 'B', 'A', 'B', 'A'],
 'Salary': [150, 230, 350, 200, 100]}

* Number : Immutable
* Strings : Immutable
* Tuple : Immutable

In [86]:
dct = {"a" : 100, [10,20] : 10}

TypeError: unhashable type: 'list'

In [87]:
dct = {"a" : 100, (10,20) : 10}

In [93]:
dct[(10,20)]

10

### fromkeys

Using fromkey we can create a dictionary very quickly.

In [92]:
d

{1: 200, 2: 200, 3: 30, 4: 4000, 5: 'A', 100: 1000}

In [94]:
lst = ["Abhishek","Eric","Corey","Lucas","Modi"]

In [95]:
dict.fromkeys(lst)

{'Abhishek': None, 'Eric': None, 'Corey': None, 'Lucas': None, 'Modi': None}

In [96]:
dict.fromkeys(lst,10)

{'Abhishek': 10, 'Eric': 10, 'Corey': 10, 'Lucas': 10, 'Modi': 10}

### SetDefault

If you want to create a key but you are not sure about the its values then you can use setdefault.

In [97]:
d

{1: 200, 2: 200, 3: 30, 4: 4000, 5: 'A', 100: 1000}

In [98]:
d.setdefault('PAN')

In [99]:
d

{1: 200, 2: 200, 3: 30, 4: 4000, 5: 'A', 100: 1000, 'PAN': None}

In [100]:
d.setdefault("EmpID","AAA-DDD")

'AAA-DDD'

In [101]:
d

{1: 200,
 2: 200,
 3: 30,
 4: 4000,
 5: 'A',
 100: 1000,
 'PAN': None,
 'EmpID': 'AAA-DDD'}

In [102]:
d.setdefault('Mobile',"+91 xxxx-xxxx-xx")

'+91 xxxx-xxxx-xx'

In [103]:
print(d)

{1: 200, 2: 200, 3: 30, 4: 4000, 5: 'A', 100: 1000, 'PAN': None, 'EmpID': 'AAA-DDD', 'Mobile': '+91 xxxx-xxxx-xx'}

In [104]:
employeeDB

{'EmpID': [101, 102, 103, 104, 105, 999],
 'EmpName': ['A', 'B', 'C', 'D', 'E'],
 'City': ['Houson', 'Tempa', 'New Delhi', 'Chennai', 'Panjim'],
 'Grade': ['A', 'B', 'A', 'B', 'A'],
 'Salary': [150, 230, 350, 200, 100]}

### Dictionary Pop

using pop method we can remove a key and its value, if key is not the part of your dictionary then raise an error.

In [105]:
employeeDB.pop?

In [106]:
employeeDB.pop("City")

['Houson', 'Tempa', 'New Delhi', 'Chennai', 'Panjim']

In [107]:
employeeDB

{'EmpID': [101, 102, 103, 104, 105, 999],
 'EmpName': ['A', 'B', 'C', 'D', 'E'],
 'Grade': ['A', 'B', 'A', 'B', 'A'],
 'Salary': [150, 230, 350, 200, 100]}

In [108]:
employeeDB.pop("College")

KeyError: 'College'

In [109]:
dct

{'a': 100, (10, 20): 10}

In [110]:
d

{1: 200,
 2: 200,
 3: 30,
 4: 4000,
 5: 'A',
 100: 1000,
 'PAN': None,
 'EmpID': 'AAA-DDD',
 'Mobile': '+91 xxxx-xxxx-xx'}

### Dictonary popitem : LIFO (Last In First Out)

This function works based on LIFO and return an output in the form tuple, first element will be your key and 2nd element will be your key's values.

In [111]:
d.popitem()

('Mobile', '+91 xxxx-xxxx-xx')

In [112]:
d

{1: 200,
 2: 200,
 3: 30,
 4: 4000,
 5: 'A',
 100: 1000,
 'PAN': None,
 'EmpID': 'AAA-DDD'}

In [113]:
d.popitem()

('EmpID', 'AAA-DDD')

In [114]:
d

{1: 200, 2: 200, 3: 30, 4: 4000, 5: 'A', 100: 1000, 'PAN': None}

In [115]:
d.popitem()

('PAN', None)

In [116]:
d.popitem()

(100, 1000)

In [117]:
d

{1: 200, 2: 200, 3: 30, 4: 4000, 5: 'A'}

In [119]:
print("All Functions from Dictionary: ",[i for i in dir(dict) if "__" not in i])
print()
print("All Functions from list: ",[i for i in dir(list) if "__" not in i])
print()
print("All Functions from tuple: ",[i for i in dir(tuple) if "__" not in i])
print()
print("All Functions from set: ",[i for i in dir(set) if "__" not in i])

All Functions from Dictionary:  ['clear', 'copy', 'fromkeys', 'get', 'items', 'keys', 'pop', 'popitem', 'setdefault', 'update', 'values']

All Functions from list:  ['append', 'clear', 'copy', 'count', 'extend', 'index', 'insert', 'pop', 'remove', 'reverse', 'sort']

All Functions from tuple:  ['count', 'index']

All Functions from set:  ['add', 'clear', 'copy', 'difference', 'difference_update', 'discard', 'intersection', 'intersection_update', 'isdisjoint', 'issubset', 'issuperset', 'pop', 'remove', 'symmetric_difference', 'symmetric_difference_update', 'union', 'update']