### Python control structure:

* if
* elif
* else

In [ ]:
# syntax
if logical_condition:
    print(yourmsg)
elif logical_condition:
    print(yourmsg)
elif logical_condition:
    print(yourmsg)
else:
    print(yourmsg)

In [2]:
age = int(input("Enter your age: "))
if age >= 18:
    print("Eligible for vote")
else:
    print("Not applicable.")

Enter your age: 13
Not applicable.

In [5]:
int(input()) # using this function we can take a input from the user.

000

0

### Q.

How to check entered number is positive, negative, or zero.

In [8]:
number = int(input("enter your number: "))
if number >= 0:
    if number == 0:
        print("Zero")
    else:
        print("Positive")
else:
    print("negative")

enter your number: -10
negative

In [11]:
number = int(input("enter your number: "))
if number > 0:
    print("Positive Number")
elif number == 0:
    print("Zero")
else:
    print("Negative")

enter your number: -10
Negative

In [12]:
# check entered number is even or odd

In [15]:
number = int(input("Enter a number: "))
if number % 2 == 0:
    print("Even")
else:
    print("Odd")

Enter a number: 5
Odd

### For Loop:

for yourVariable in container:
    print(yourVariable)

In [16]:
lst = [10,20,30,40,20,4,50,10,45,38]

In [17]:
lst

[10, 20, 30, 40, 20, 4, 50, 10, 45, 38]

In [18]:
for element in lst:
    print(element)

10
20
30
40
20
4
50
10
45
38

In [20]:
for element in lst:
    if element % 10 == 0:
        print(element, end = " ")

10 20 30 40 20 50 10

In [21]:
lst = [1,0,40,50,20,34,58,(12,40,50,30),[30,203],11,22,38,49,"A"]

In [22]:
lst

[1, 0, 40, 50, 20, 34, 58, (12, 40, 50, 30), [30, 203], 11, 22, 38, 49, 'A']

In [23]:
for element in lst:
    print(element, end = " ")

1 0 40 50 20 34 58 (12, 40, 50, 30) [30, 203] 11 22 38 49 A

In [24]:
# how we can only the element from tuple

In [25]:
for elements in lst:
    if type(elements) == tuple:
        for item in elements:
            print(item)

12
40
50
30

In [26]:
for ele in lst:
    print(type(ele))

<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'tuple'>
<class 'list'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'str'>

In [29]:
for elements in lst:
    if type(elements) == tuple:
        for ele in elements:
            print(ele)

12
40
50
30

In [30]:
lst = [1,0,40,50,20,34,58,(12,40,50,30),[30,203],11,(22,38,49),"A",(1,2,3,4)]

In [31]:
for elements in lst:
    if type(elements) == tuple:
        for ele in elements:
            print(ele, end = " ")

12 40 50 30 22 38 49 1 2 3 4

In [32]:
for elements in lst:
    if type(elements) == tuple:
        print(elements)

(12, 40, 50, 30)
(22, 38, 49)
(1, 2, 3, 4)

In [34]:
for elements in lst:
    if type(elements) == list:
        print(elements)
        for ele in elements:
            print(ele, end = " ")

[30, 203]
30 203

In [35]:
for elements in lst:
    if type(elements) == tuple:
        print(elements)
        for ele in elements:
            print(ele, end = " ")

(12, 40, 50, 30)
12 40 50 30 (22, 38, 49)
22 38 49 (1, 2, 3, 4)
1 2 3 4

### Range function

Range function is very useful function for generating number and iterating the data structure etc

Range(start,end,stepsize)

Here, start and stepsize is optional perameter

by default start = 0 and stepsize = 1

In [37]:
range(0,10)

range(0, 10)

In [38]:
range(1,5)

range(1, 5)

In [40]:
list(range(5)) # list will be starts from 0 to n-1 (5-1=4)

[0, 1, 2, 3, 4]

In [41]:
list(range(5,20))

[5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [42]:
list(range(3,20,2))

[3, 5, 7, 9, 11, 13, 15, 17, 19]

In [43]:
list(range(5,100,5))

[5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55, 60, 65, 70, 75, 80, 85, 90, 95]

In [44]:
list(range(12,121,12))

[12, 24, 36, 48, 60, 72, 84, 96, 108, 120]

In [45]:
list(range(10,0,-1))

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [46]:
list(range(2,21,2))

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [47]:
list(range(1,21,2))

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [48]:
lst = [12,20,5,10,1,5,20,30,20,34,50,23,10.20,1.4,6.5,15.3,45.34,
      "AB","BD","MD","A","C","A","MBA","MTech","BCA","Btech","MBBA","Corey",23.45]

* Create a separate list of whole number which are greater than 10
* Create a separate list of decimal number
* Create s separate list of string, a string has the length greater than or equal to 3

In [49]:
print(lst)

[12, 20, 5, 10, 1, 5, 20, 30, 20, 34, 50, 23, 10.2, 1.4, 6.5, 15.3, 45.34, 'AB', 'BD', 'MD', 'A', 'C', 'A', 'MBA', 'MTech', 'BCA', 'Btech', 'MBBA', 'Corey', 23.45]

In [50]:
listofNumber = []; listOfDecimal = []; listOfString = []
for ele in lst:
    if type(ele) == int and ele > 10:
        listofNumber.append(ele)
    elif type(ele) == float:
        listOfDecimal.append(ele)
    elif type(ele) == str and len(ele) >= 3:
        listOfString.append(ele)

In [51]:
listofNumber

[12, 20, 20, 30, 20, 34, 50, 23]

In [52]:
listOfDecimal

[10.2, 1.4, 6.5, 15.3, 45.34, 23.45]

In [53]:
listOfString

['MBA', 'MTech', 'BCA', 'Btech', 'MBBA', 'Corey']

In [54]:
lst = [10,20,30]

In [55]:
lst.append("AnkitKumar")

In [56]:
lst

[10, 20, 30, 'AnkitKumar']

In [57]:
for ele in lst:
    print(ele)
else:
    print("No element is found.")

10
20
30
AnkitKumar
No element is found.

In [59]:
lst.append(5)

In [60]:
lst

[10, 20, 30, 'AnkitKumar', 5]

In [63]:
prod = 1
for ele in lst:
    if type(ele) ==  int:
        prod = prod * ele

In [64]:
prod

30000

In [65]:
for i in range(30):
    if i >= 10 and i<=25:
        continue
    else:
        print(i, end =  " ")

0 1 2 3 4 5 6 7 8 9 26 27 28 29

In [66]:
for i in range(30):
    if i == 10:
        break
    else:
        print(i, end = ' ')

0 1 2 3 4 5 6 7 8 9

In [67]:
i

10

In [71]:
data = [[1,2,3],[4,5,6,7],[8,9]]

In [78]:
newlst = []
for pair in data:
    newlst.extend(pair)

In [79]:
newlst

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [80]:
newlist = []
for pair in data:
    for ele in pair:
        newlist.append(ele)

In [81]:
newlist

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [83]:
data = ["a","b","g","c","b","b","a",10,10,20,20,10,20,"a","g","c"]

from above query can you give me the occurence of each element example:
    
a : 3, b : 3, g: 2 and so on.

In [86]:
dct = dict()
for item in data:
    if item not in dct:
        dct[item] = data.count(item)

In [87]:
dct

{'a': 3, 'b': 3, 'g': 2, 'c': 2, 10: 3, 20: 3}

In [88]:
dct = dict()
for item in data:
    if item in dct:
        dct[item] = dct[item] + 1
    else:
        dct[item] = 1

In [89]:
dct

{'a': 3, 'b': 3, 'g': 2, 'c': 2, 10: 3, 20: 3}